#firemancontainer{
  background: linear-gradient( rgba(255, 126, 0, 0.6), rgba(255, 126, 0, 0.6) ), url('/../img/smoke.png') center center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-position: 50% 50%;
  overflow: hidden;
  /* background-color: rgba(255, 204, 0, 0.9); */
  margin-top:50px;
  color:#fff;
  position: relative;
}
#firemancontainer div{
  background: rgba(0,0,0,0);
}
#firemancontainer img {
  position: absolute;
  top:0px;
  bottom: -35px;
  right: 250px;
  z-index: 2;
}
#firemancontainer h2 {
  margin: 0;
}
#firemancontainer p {
  position: relative;
  line-height: 1.5;
  margin: 1rem;
  z-index: 3;
}
@media all and (max-width: 1200px) {
  #firemancontainer {
    background-size: contain;
  }
#firemancontainer img {
    position: absolute;
    display: block;
    width: 40%;
      right: 20px;
  }
@media all and (max-width: 725px) {
  #firemancontainer img {
      position: absolute;
      display: block;
      width: 40%;
        right: 20px;
    }
@media all and (max-width: 725px) {
      #firemancontainer img {
          display: none;
        }
